.sidebar {

	.widget-title {
		color: $steel;
		font-size: 1.5rem;
		margin-top: -8px;
	}

	.widget {
		margin-bottom: 30px;
	}
}

.widget-sidebar {
	margin-bottom: 30px;

	// .widget-sidebar__cats,
	.widget_categories {

		ul {
			margin: 0;
			list-style: none;

			li {
				margin-bottom: 0.5em;
			}

			a {
				color: $jet;
				display: inline-block;
				transition: color .3s ease-in;

				&:before {
					content: '\2013';
					margin-right: 10px;
				}

				&:hover,
				&:focus {
					color: $primary-color;
				}
			}
		}
	}

	.sidebar-newsletter {

		input[type="email"] {

			@include placeholder {
				font-size: 0.875rem;
				font-style: italic;
			}
		}

		[type="submit"] {
			max-width: 100%;
			padding: 10px 25px;

			@extend %button-border-black;
			@extend %button-border-hover;
		}
	}

	// .widget-sidebar__tags {

	// 	.inline-list > li {
	// 		margin: 0 5px 5px 0;

	// 		a {
	// 			background-color: $white;
	// 			color: $jet;
	// 			display: inline-block;
	// 			font-size: 0.875rem;
	// 			padding: 0.36em 1.07em;
	// 			transition: all .3s ease-in;

	// 			&:hover {
	// 				background-color: $primary-color;
	// 				color: $white;
	// 			}
	// 		}
	// 	}
	// }

	.tagcloud a {
		background-color: $white;
		color: $jet;
		display: inline-block;
		font-size: 0.875rem !important;
		padding: 0.36em 1.07em;
		margin: 0 5px 5px 0;
		transition: all .3s ease-in;

		&:hover {
			background-color: $primary-color;
			color: $white;
		}
	}


	.widget-sidebar__socials {

		.inline-list > li {
			margin: 0 10px 10px 0;

			a {
				background-color: $white;
				color: $jet;
				display: inline-block;
				font-size: 23px;
				height: 34px;
				width: 35px;
				text-align: center;
				line-height: 34px;
				transition: all .3s ease-in;

				&:hover {
					background-color: $primary-color;
					color: $white;
				}
			}
		}

		.fa-ask-sidebar {
			background-image: url(images/social/spritesheet-2.png);
			background-position: 0 0;
			background-repeat: no-repeat;
			display: block;
			height: 100%;

			&:hover {
				background-position: -35px 0;
			}
		}
	}
}